<!DOCTYPE html>
<html>

<head>
    <title>Lista de Productos</title>
</head>

<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each products}}
        <li>
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            <p>Precio: {{price}}</p>
            <img src="{{thumbnail}}" alt="Imagen del producto">
        </li>
        {{/each}}
    </ul>
</body>

</html>